table,th,tr,td{
border:	2px solid;}


h1{font-family:Monotype Corsiva;
text-align:center;
text-shadow:5px 5px silver;
	
}
h2{font-family:Monotype Corsiva;
text-align:center;
	
}


#inter{background-color:silver;
	text-align:center;
	color:white;
	height:50px;
	
	
}
#hora_aula{background-color:silver;
color:white;

height:50px;


}

#periodo{text-align:center;
		background-color:#7391d6;
		color:white;
}

#periodo_2{text-align:center;
			background-color:#7391d6;
			color:white;
}









body{background-color:#EEEEEC;
	background-image:

	
	
}

img{  
		height:50px;
		margin-left:600px;
	
}

a{
	margin:
	
}

